.checkbox{
    width: 18px;
    height: 18px;
    position: relative;
    cursor: pointer;
}
.checkbox input[type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
    z-index: 3;
}
.checkbox input[type="checkbox"]:checked + label{
    background-color: #2b61eb;
}
.checkbox input[type="checkbox"] + label{
    display: block;
    width: 18px;
    height: 18px; 
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.10);
    border-radius: 4px;
    background-color: transparent;
    transition: background-color ease 0.3s;
}
.checkbox input[type="checkbox"] + label > img{
    display: none;
    transition: display ease 0.3s;
}
.checkbox input[type="checkbox"]:checked + label > img{
    display: block;
}
